@media (min-width: 1400px) and (max-width: 1540px) {
    .login-form__content {
        margin: 0 auto;
        padding: 30px 15px;
        max-width: 1230px;
    }

    .login-form__heading {
        margin-bottom: 20px;
        text-align: center;
    }

    .form {
        margin: 0 auto;
        width: 680px;
        height: 656px;
        top: 200px;
        text-align: center;
    }

    .form__group {
        margin-top: 10px;
        margin-bottom: 5px;
    }

    .form__group-title {
        text-align: left;
        font-weight: bold;
        font-size: 24px;
    }

    .form__error {
        height: 20px;
        color: #ff0000;
        text-align: left;
    }

    .form__input--text input {
        padding: 10px;
        width: 100%;
        height: 60px;
        border: 1px solid #000000;
        border-radius: 3px;
        appearance: none;
    }

    .form__button {
        margin-top: 30px;
    }

    .form__button-submit {
        padding: 10px;
        width: 680px;
        height: 60px;
        border: none;
        border-radius: 5px;
        font-size: 20px;
        font-weight: bold;
        background: #000000;
        color: #fff;
        cursor: pointer;
    }

}