@media (min-width: 1400px) and (max-width: 1540px) {
    main {
        max-width: 1100px;
        margin: 0 auto;
    }

    .header {
        width: 1512px;
        height: 80px;
        display: flex;
        align-items: center;
        padding: 0 20px;
        background-color: #000000;
    }

    .header__inner {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        align-items: center;
    }

    .img-content {
        width: 370px;
        height: auto;
        display: block;
        object-fit: contain;
        margin-right: 20px;
    }

    .header__nav {
        margin-left: auto;
    }

    .header__list {
        display: flex;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 10;
    }

    .logout__button-submit {
        font-size: 16px;
        color: #FFFFFF;
        cursor: pointer;
        padding: 10px;
        padding-left: 30px;
        position: relative;
        border: none;
        background: none;
        text-decoration: none;
    }

    .attendance__button-submit {
        font-size: 16px;
        display: inline-block;
        color: #FFFFFF;
        cursor: pointer;
        padding: 10px;
        position: relative;
        border: none;
        text-decoration: none;
        vertical-align: middle;
    }

    .list__button-submit {
        font-size: 16px;
        display: inline-block;
        color: #FFFFFF;
        cursor: pointer;
        padding: 10px;
        position: relative;
        border: none;
        text-decoration: none;
        vertical-align: middle;
    }

    .request__button-submit {
        font-size: 16px;
        display: inline-block;
        color: #FFFFFF;
        cursor: pointer;
        padding: 10px;
        position: relative;
        border: none;
        text-decoration: none;
        vertical-align: middle;
    }
} 