@media (min-width: 1400px) and (max-width: 1540px) {
    body {
        margin: 0;
        padding: 0;
    }

    .header {
        background-color: #000000;
        width: 1515px;
        height: 60PX;
        align-items: center;
        justify-content: flex-start;
        padding-left: 25px;
    }

    .header__inner {
        align-items: center;
    }

    .img-content {
        width: 370px;
        height: 36px;
        object-fit: contain;
        display: block;
        align-items: center;
    }
}