@media (min-width: 1400px) and (max-width: 1540px) {

    .register-form__content {
        margin: 178px auto;
        padding: 30px 15px;
        max-width: 1230px;
    }

    .register-form__heading {
        margin-bottom: 20px;
        text-align: center;
    }

    .form {
        margin: 0 auto;
        width: 680px;
        height: 678px;
        text-align: center;
    }

    .form__group {
        margin-bottom: 5px;
    }

    .form__group-title {
        text-align: left;
        font-weight: bold;
    }

    .form__error {
        height: 20px;
        color: #ff0000;
        text-align: left;
    }

    .form__input--text input {
        padding: 10px;
        width: 100%;
        height: 45px;
        border: 1px solid #ddd;
        border-radius: 3px;
        appearance: none;
    }

    .form__button {
        margin-top: 20px;
    }

    .form__button-submit {
        padding: 10px;
        width: 100%;
        height: 65.25px;
        top: 888px;
        font-size: 20px;
        font-weight: bold;
        border: none;
        border-radius: 3px;
        background: #000000;
        color: #fff;
        cursor: pointer;
    }

    .login__link {
        margin-top: 20px;
        text-align: center;

    }

    .login__button-submit {
        color: #0073CC;
        text-decoration: none;
    }   
}