.verify-email {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    padding: 319px;
}

.btn-certification {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.btn-resend {
    color: #0073CC;
    border: none;
    text-decoration: none;
    font-size: 20px;
    background-color: #fff;
}